* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-orange-color: #ed8c00;
  --medium-orange-color: #ed7000;
  --dark-orange-color: #b46900;
  --light-gray-color: #f3f4f7;
  --medium-gray-color: #d4d9e3;
  --dark-gry-color: #66728a;
  --light-blue-color: #3244b0;
  --medium-blue-color: #001a73;
}

body {
  font-family: arial, sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(228, 241, 250)
  );
  font-size: 10px;
  font-weight: 300;
  line-height: 1.6;
}

#topper {
  top: 0;
  background-color: var(--light-gray-color);
  height: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--medium-gray-color);
}

.logo-container {
  background-color: #fff;
  border-bottom: 1px solid var(--medium-gray-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#logo {
  padding: 5px;
}

#company-name {
  font-size: 50px;
  font-weight: 700;
  color: var(--medium-orange-color);
}

.btn {
  font-family: arial, sans-serif;
  font-size: 10px;
  cursor: pointer;
  outline: 0;
}

.text {
  opacity: 0.8;
}

.title {
  font-size: 35px;
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--medium-blue-color);
}

.description {
  font-size: 20px;
  color: var(--dark-orange-color);
  font-weight: 300;
}

.container {
  max-height: 100vh;
}

.meal-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.meal-search {
  margin: 20px 0;
}

.meal-search-box {
  margin: 15px 0;
  display: flex;
  align-items: stretch;
  margin: 30px auto auto auto;
}

.search-control,
.search-btn {
  width: 100%;
}

.search-control {
  padding: 0 15px;
  font-size: 15px;
  color: var(--light-orange-color);
  outline: 0;
  border: 1px solid var(--medium-gray-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#search-btn:disabled {
  background-color: var(--dark-gry-color);
}

#search-btn {
  width: 45px;
  height: 45px;
  font-size: 18px;
  background-color: var(--light-orange-color);
  border: none;
  transition: all 0.3s linear;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

i {
  color: white;
}

#search-btn:disabled:hover {
  background-color: var(--dark-gry-color);
  cursor: default;
}

#search-btn:hover {
  background-color: var(--dark-orange-color);
  cursor: pointer;
}

.meal-result {
  margin-top: 40px;
}

.meals-view {
  display: block;
  text-align: center;
}

.failed-search {
  font-size: 22px;
  color: var(--dark-orange-color);
  display: block;
}

.meals-container {
  margin: 25px;
}

.meal-item {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.8);
  margin: 20px 5px;
}

.meal-img img {
  width: 100%;
  display: block;
}

.meal-name {
  padding: 15px;
  font-size: 14px;
  font-weight: 200;
  color: var(--medium-orange-color);
  text-align: center;
}

.recipe-btn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: var(--light-blue-color);
  font-weight: 700;
  font-size: 15px;
  padding: 8px;
  display: block;
  text-align: center;
  width: 175px;
  margin: 10px auto;
  border-radius: 20px;
  transition: all 0.4s linear;
}

.recipe-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.view-recipe {
  display: grid;
  grid-gap: 10px;
  position: fixed;
  width: 75vw;
  height: 75vh;
  background-color: var(--dark-orange-color);
  border: 2px solid var(--medium-gray-color);
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showRecipe {
  display: flex;
  margin: auto;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#close-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 20px;
  margin-right: 20px;
  width: 55px;
  height: 35px;
  font-size: 18px;
  background-color: var(--medium-blue-color);
  border: none;
  border-radius: 15px;
  color: white;
}

#close-btn:hover {
  cursor: pointer;
  transform: scale(0.9);
  background-color: var(--light-orange-color);
}

.recipe-title {
  color: var(--light-gray-color);
  font-size: 40px;
  letter-spacing: 1px;
  padding-bottom: 15px;
  margin-left: 70px;
}

.recipe-category {
  font-size: 30px;
  color: var(--medium-blue-color);
  font-weight: 600;
}

.recipe-instruct {
  margin-top: 20px;
}

.recipe-instruct h3 {
  color: var(--light-gray-color);
  font-size: 20px;
}

.recipe-instruct p {
  font-size: 13px;
  text-align: justify;
  padding: 15px 30px;
  color: var(--light-gray-color);
}

.recipe-meal-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 15px 30px 30px 15px;
  display: block;
  box-shadow: 2px 2px 15px black;
}

.recipe-link {
  margin: 25px 0;
}

.recipe-link a {
  color: var(--medium-blue-color);
  font-size: 20px;
  font-weight: 700;
}

.recipe-link a:hover {
  color: white;
}

@media screen and (min-width: 600px) {
  .meals-search-box {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-container {
    display: block;
  }
  #company-name {
    font-size: 30px;
    text-align: center;
  }
  #logo {
    text-align: center;
  }
  .meals-container {
    display: block;
    text-align: center;
  }
  .view-recipe {
    width: 90vw;
    height: 90vh;
  }
  .recipe-title {
    font-size: 25px;
    margin-top: 16px;
  }
  .recipe-instruct h3 {
    font-size: 18px;
  }
  .recipe-instruct p {
    font-size: 13px;
  }
  .recipe-meal-img img {
    width: 160px;
    height: 160px;
  }
  .recipe-link {
    margin: 0;
  }
  .recipe-link a {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .meals-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .view-recipe {
    width: 85vw;
    height: 85vh;
  }
  .recipe-title {
    font-size: 25px;
  }
  .recipe-instruct h3 {
    font-size: 24px;
  }
  .recipe-instruct p {
    font-size: 13px;
  }
  .recipe-meal-img img {
    width: 160px;
    height: 160px;
  }
  .recipe-link {
    margin: 0;
  }
  .recipe-link a {
    font-size: 18px;
  }
  .meal-item {
    margin: 0;
  }
  .meal-details {
    width: 700px;
  }
  .logo-container {
    display: block;
  }
  #logo {
    align-content: center;
  }
}

@media screen and (min-width: 992px) {
  .meals-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .meal-search-box {
    width: 900px;
  }
  .logo-container {
    display: flex;
    justify-content: space-around;
  }
  #company-name {
    font-size: 50px;
  }
  .view-recipe {
    width: 75vw;
    height: 75vh;
  }
  .recipe-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 10px;
  }
}
